<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hospital Management</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="/css/Style.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/Home/Index">Hospital Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/Home/Muthu">Patients Details</a>
                </li>
                <li class="nav-item active" >
                   <a class="nav-link" href="/Doctor/DAdd">Doctor Details</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/AppointmentControllers/AAdd">Appointment Details</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Medical/MAdd">Medical Records</a>
                </li>
            </ul>
        </div>
    </nav>

   <div>@RenderBody()</div>
    
</body>
</html>
