@model Hospital.Models.MModels;
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Hospittal Management</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
    <form asp-action="MUpdate" style="width:50%;border:2px solid black;color:black; margin-left:400px;padding:20px ">
        <input asp-for="Id" type="hidden" class="form-control" />

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/Home/Index">Hospital Management</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="/Medical/MAdd">Add_MRecords</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Medical/MDisplay">Display_MRecords</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="/Medical/MDispaly">Delete_MRecords</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="form-group">
            <label asp-for="PatientName">Patient Name</label>
            <input asp-for="PatientName" type="text" class="form-control">
            <span asp-validation-for="PatientName"></span>
        </div>
        <div class="form-group">
            <label asp-for="Date">Date & Time </label>
            <input asp-for="Date" type="datetime" class="form-control">
            <span asp-validation-for="Date"></span>
        </div>
        <div class="form-group">
            <label asp-for="DiaGnosis">DiaGnosis</label>
            <input asp-for="DiaGnosis" type="text" class="form-control">
            <span asp-validation-for="DiaGnosis"></span>
        </div>
        <div class="form-group">
            <label asp-for="Medications">Medications</label>
            <input asp-for="Medications" type="text" class="form-control">
            <span asp-validation-for="Medications"></span>
        </div>


        <button type="submit" class="btn btn-primary"style="background-color:green">Update</button>
        <div>
            @if (TempData["hii"] != null)
            {
                <h2>@TempData["hii"]</h2>

            }

        </div>


    </form>
</body>
</html>