<style>
    h1{
        color:black;
        font-family:Impact;
        text-align:center;
        margin-top:150px;
        margin-right:100px;
    }
   
</style>

<h1>Welcome To Hospital Management</h1>